body {

    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    max-width: 50rem;
}

a {

text-decoration: none;
color: green;
}

#projects {

    display: inline;
}

a:hover {

    text-decoration: underline;
    
}