@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); /* Fonts for the headers*/



body {

    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: blanchedalmond;

}

#index {

    background-image: url("https://www.quotidiano.net/image-service/version/c:N2RiYjNlYzEtYzIzNi00:ODI5Zjg5/i-dati-del-turismo-in-albania.webp?f=3%3A2&q=1&w=1560");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 45rem;

}


#index h1{

    text-align: center;
    margin: 0;
}

#index img {

    display: block;
    margin: auto;
    width: 30rem;


}


h1,h2 {

    font-family: 'Abril Fatface', cursive;
    font-weight: normal;

}


ol {

  line-height: 1.5;
  max-width: 80rem;

}

.recipes {

    margin: 0 auto;
    max-width: 80rem;
}

.recipes img {

    max-width: 100%;
    width: 35rem;
}

.italia  {

    height: 5px; 
    border: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, green 33.33%, white 33.33%, white 66.66%, red 66.66%);
    box-shadow: 0px 5px 15px rgb(41, 41, 41);
    

}

.menu {

    max-width: 70rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.menu a {

    text-decoration: none; 
    color: rgb(49, 49, 49);
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    padding-top: 1.5rem;
    border-bottom: 2px dotted gray ;
    padding-bottom: 0.5rem;
}

.menu ul li {

    font-style: italic;
}

.menu p {

    float: right;
}

