
body {

    margin: 0;
    font-family: sans-serif;
    
}

.general-container {

    margin: 0 auto;
    max-width: 90rem;
}

/* navbar */

 nav {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5rem;
    
}

 nav li {

    list-style: none;
    display: inline-block;
    padding: 1rem;

}

nav li a {

    text-decoration: none;
    font-size: 1.125rem;
    color: #E5E7EB;
}

#logo {
    margin-right: auto;
    margin-left: 1rem;
    font-size: 	1.5rem;
    color: #F9FAF8;
        
}

/*navbar end*/

/*header*/

header {

    background-color: #1F2937;
    height: 40rem;
}


#hero-button {

    color: #F9FAF8;
    text-decoration: none;
    font-weight: bold;
    background-color: #3882F6;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 9%;
}

header p {

 color: #E5E7EB;
 font-size: 1.125rem;
}


 header h1 {

    font-size: 3rem;
    font-weight: bolder;
    color: #F9FAF8;
    
}

header img {

    float: right;
    max-width: 100%;
    width: 40rem;
    height: auto;
    
}

/* header end */

/* projects section */

#projects {

    display: flex;
    gap: 5rem;
    
}

.information img {
    
    max-width: 100%;
    width: 30rem;
    height: auto;
    border: 0.5rem solid blue;
}

.information h2 {

    font-size: 	2.25rem;
    color: #1F2937;
    text-align: center;
    
}

.information p {

    font-size: 1.125rem;
}

/* end projects*/

/*Quote section*/

.quote {

    background-color: #E5E7EB;

}

.quote p {

    font-size: 2.25rem;
    font-weight:100;
    color: #1F2937;
    font-style: italic;
    text-align: justify;
    padding: 13rem;

}

.quote span {

    font-weight: bold;
    font-size: 1.4rem;
    display: block;
    margin-top: 1rem;
}

/* END */

/* Newsletter */

.newslet {


}

/* END newsletter*/

/**/





